<div>
  <div style="display: flex;justify-content: center;">
    <div style="display: flex;justify-content: space-between;width:90%;padding: 0.5rem">
      <p [routerLink]="['../square']" >知识广场</p>
      <div><i nz-icon nzType="user" nzTheme="outline"></i></div>
    </div>
  </div>


  <div style="display: flex;justify-content: center;">
    <div style="width:90%;text-align: center;">
      <img style="width: 100%;
      height: 32rem;" src="./assets/dashboard_knowledge.jpeg" alt="">
    </div>
    <!-- src="http://placehold.it/1920x600" -->

  </div>
  <div style="height: 100%;display: flex;
      justify-content: center;margin-top: 1rem">
      <div style="width: 90%;display: block;">
        <div style="display: flex;justify-content: space-between;height: 20rem;">
          <div class="k-left" >
            <div class="app-badge" >最近浏览</div>
          </div>
          <div class="k-right" >
            <div class="app-badge" >我的知识库</div>
          </div>
        </div>
    </div>
  </div>
</div>


